html, body{ margin:0 }
*{ box-sizing:border-box }
.cg{
  color:whitesmoke;
}
.cb{
  color:DodgerBlue;
}
.bgg{
  background-color:whitesmoke;
}
.bgb{
  background-color:DodgerBlue;
}
.bgw{
  background-color:white;
}
.block{ display:block }
.inline-block{ display:inline-block }
.rel{ position:relative }
.abs{ position:absolute }
.fix{ position:fixed }
.fill, .top{ top:0 }
.fill, .bottom{ bottom:0 }
.fill, .left{ left:0 }
.fill, .right{ right:0 }
.f{ display:-webkit-box; display:-ms-flexbox; display:flex }
.fw{ -ms-flex-wrap:wrap; flex-wrap:wrap }
.ais{ -webkit-box-align:start; -ms-flex-align:start; align-items:flex-start }
.aie{ -webkit-box-align:end; -ms-flex-align:end; align-items:flex-end }
.aic{ -webkit-box-align:center; -ms-flex-align:center; align-items:center }
.aib{ -webkit-box-align:baseline; -ms-flex-align:baseline; align-items:baseline }
.jcs{ -webkit-box-pack:start; -ms-flex-pack:start; justify-content:flex-start }
.jce{ -webkit-box-pack:end; -ms-flex-pack:end; justify-content:flex-end }
.jcc{ -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center }
.jcb{ -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between }
.fa{
  -webkit-box-flex:1;
      -ms-flex:1 1 auto;
          flex:1 1 auto;
  min-width:0;
  min-height:0;
}
.al{ text-align:left }
.ac{ text-align:center }
.ar{ text-align:right }
.aj{ text-align:justify }
.mha, .mxa{ margin-left:auto }
.mha, .mxa{ margin-right:auto }
.mva, .mxa{ margin-top:auto }
.mva, .mxa{ margin-bottom:auto; }
.mt0, .mv0, .mx0{ margin-top:0 }
.mb0, .mv0, .mx0{ margin-bottom:0 }
.mt025, .mv025, .mx025{ margin-top:0.25em }
.mb025, .mv025, .mx025{ margin-bottom:0.25em }
.ml025, .mh025, .mx025{ margin-left:0.25em }
.mr025, .mh025, .mx025{ margin-right:0.25em }
.pt025, .pv025, .px025{ padding-top:0.25em }
.pb025, .pv025, .px025{ padding-bottom:0.25em }
.pl025, .ph025, .px025{ padding-left:0.25em }
.pr025, .ph025, .px025{ padding-right:0.25em }
.mt05, .mv05, .mx05{ margin-top:0.5em }
.mb05, .mv05, .mx05{ margin-bottom:0.5em }
.ml05, .mh05, .mx05{ margin-left:0.5em }
.mr05, .mh05, .mx05{ margin-right:0.5em }
.pt05, .pv05, .px05{ padding-top:0.5em }
.pb05, .pv05, .px05{ padding-bottom:0.5em }
.pl05, .ph05, .px05{ padding-left:0.5em }
.pr05, .ph05, .px05{ padding-right:0.5em }
.mt075, .mv075, .mx075{ margin-top:0.75em }
.mb075, .mv075, .mx075{ margin-bottom:0.75em }
.ml075, .mh075, .mx075{ margin-left:0.75em }
.mr075, .mh075, .mx075{ margin-right:0.75em }
.pt075, .pv075, .px075{ padding-top:0.75em }
.pb075, .pv075, .px075{ padding-bottom:0.75em }
.pl075, .ph075, .px075{ padding-left:0.75em }
.pr075, .ph075, .px075{ padding-right:0.75em }
.mt1, .mv1, .mx1{ margin-top:1em }
.mb1, .mv1, .mx1{ margin-bottom:1em }
.ml1, .mh1, .mx1{ margin-left:1em }
.mr1, .mh1, .mx1{ margin-right:1em }
.pt1, .pv1, .px1{ padding-top:1em }
.pb1, .pv1, .px1{ padding-bottom:1em }
.pl1, .ph1, .px1{ padding-left:1em }
.pr1, .ph1, .px1{ padding-right:1em }
button{
  border:0;
  border-radius:0;
  display:inline-block;
  cursor:pointer;
  -webkit-appearance:none;
}
button.button,
.button[role="button"],
input.button[type="submit"]{
  display:inline-block;
  position:relative;
  background-color:DodgerBlue;
  color:white;
  padding:0.75em 2.5em;
  font-weight:bold;
  text-decoration:none;
  border-radius:4px;
  border:2px solid DodgerBlue;
}
button.button:hover, .button[role="button"]:hover, input.button[type="submit"]:hover{
    background-color:black;
    border-color:black;
  }
button.button.button--outline, .button[role="button"].button--outline, input.button[type="submit"].button--outline{
    background-color:transparent;
    color:black;
    border:2px solid currentColor;
  }
button.button.button--outline:hover, .button[role="button"].button--outline:hover, input.button[type="submit"].button--outline:hover{
      background-color:DodgerBlue;
      color:white;
      border-color:DodgerBlue;
    }
form{
  margin:0;
}
input,
textarea,
select{
  display:inline-block;
  outline:0;
  border-radius:0;
  border:1px solid #000;
  position:relative;
  font-size:inherit;
  background-color:transparent;
}
textarea{
  max-width:100%;
  overflow:auto;
  resize:vertical;
}
ol, ul{
  list-style:none;
  padding:0;
  margin:0;
}
ul.list,
ol.list{
  padding-left:2em;
}
ol.list{
  list-style:decimal;
}
ul.list{
  list-style:disc;
}
body{
  color:#000;
  font-family:-apple-system, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size:100%;
  line-height:1.7;
  font-weight:400;
  -webkit-font-smoothing:antialiased; 
}
.s1,
h1, .h1{
  font-size:64px;
  font-size:4rem;
}
h1, .h1{ 
  line-height:1.1;
}
.s2,
h2, .h2{ 
  font-size:48px; 
  font-size:3rem;
}
h2, .h2{ 
  line-height:1.3;
}
.s3,
h3, .h3{ 
  font-size:32px; 
  font-size:2rem;
}
h3, .h3{ 
  line-height:1.5;
}
.s4,
h4, .h4{ 
  font-size:24px; 
  font-size:1.5rem;
}
h4, .h4{ 
  line-height:1.5;
}
.s5,
h5, .h5{ 
  font-size:16px; 
  font-size:1rem;
}
h5, .h5{ 
  line-height:1.6;
}
.s6,
h6, .h6{ 
  font-size:14px; 
  font-size:0.875rem;
}
h6, .h6{ 
  line-height:1.6;
}
.s0,
p, .p{ 
  font-size:19.2px; 
  font-size:1.2rem;
}
p, .p{ 
  line-height:1.7;
}
p{ 
  margin:1em 0
}
a{
  color:inherit
}
hr{
  display:block;
  border:0;
  margin:0;
  height:1px;
  width:100%;
  background-color:currentColor;
  color:inherit;
}
small, .small{
  font-size:0.75em;
}
strong, .b{
  font-weight:bold;
}
em, .i{
  font-style:italic;
}
.caps{
  text-transform:uppercase;
}
.no-under{
  text-decoration:none;
}
.z0{ z-index:0 }
.z1{ z-index:100 }
.z2{ z-index:200 }
.z3{ z-index:300 }
.z5{ z-index:500 }
.z6{ z-index:600 }
.z7{ z-index:700 }
.z8{ z-index:800 }
.z9{ z-index:900 }
.z10{ z-index:1000 }
.outer{
  padding:1.5em;
}
@media (min-width: 56.26em){
.outer{
    padding:3em
}
  }
.outer-h{
  padding-left:1.5em;
  padding-right:1.5em;
}
@media (min-width: 56.26em){
.outer-h{
    padding-left:3em;
    padding-right:3em
}
  }
.outer-v{
  padding-top:1.5em;
  padding-bottom:1.5em;
}
@media (min-width: 56.26em){
.outer-v{
    padding-top:3em;
    padding-bottom:3em
}
  }
.outer-b{
  padding-bottom:1.5em;
}
@media (min-width: 56.26em){
.outer-b{
    padding-bottom:3em
}
  }
.container{
  max-width:750px;
}
main{
  width:100%;
  min-height:100vh;
}
header a{
    text-decoration:none;
  }
header a:hover{
      color:DodgerBlue;
      outline:6px solid white;
      background:white;
    }
